<style>
     /* phone size */
@media screen and (max-width: 800px) {
    #menu {
        width: 100%;
    }
}

.coinInfoList {
    height: 30px;
}
</style>

<div id="flex-container">
    <div id="menu">
        <div class="menuHeader">
            Configuration Details
        </div>
        
        <div>
            {{ for (var pool in it.poolsConfigs) { }}
                <div class="poolConfig">
                        <div class="coinInfoHeader">
                                <span class="coinInfoName">{{=it.poolsConfigs[pool].coin.name}}</span> Configuration
                        </div>

                    <div class="configDetails" id="configDetails">
                        <div class="coinInfoRows">
                            <div class="coinInfoRowKeys">
                                <div class="coinInfoList">Min Payment</div>
                                <div class="coinInfoList">Payment Frequency (mins)</div>
                                <div class="coinInfoList">Fee (%)</div>
                                <div class="coinInfoList">Algorithm:</div>
                                <div class="coinInfoList">Username:</div>
                                <div class="coinInfoList">Password:</div>
                                <div class="coinInfoList">Server/Stratum:</div>
                                {{ for (var port in it.poolsConfigs[pool].ports) { }}
                                    <div class="coinInfoList">{{= it.poolsConfigs[pool].ports[port].label ? it.poolsConfigs[pool].ports[port].label : 'URL'}} Port</div>
                                {{ } }}
                            </div>
                            <div class="coinInfoRowValues">
                                <div class="coinInfoUsername">
                                    <div class="coinInfoList">{{=it.poolsConfigs[pool].coin.minPayment}}</div>
                                    <div class="coinInfoList">{{=it.poolsConfigs[pool].coin.paymentFreq}}</div>
                                    <div class="coinInfoList">{{=it.poolsConfigs[pool].coin.poolFee}}</div>
                                    <div class="coinInfoList">{{=it.poolsConfigs[pool].coin.algorithm}}</div>
                                    {{ if (it.poolsConfigs[pool].coin && it.poolsConfigs[pool].coin.privateChain) { }}
                                        your {{=it.poolsConfigs[pool].coin.name}} wallet <b style="color:#C99631;">zS</b> address<br>
                                    {{ } else if (it.poolsConfigs[pool].coin) { }}
                                        your {{=it.poolsConfigs[pool].coin.name}} miner wallet address
                                    {{ } else { }}
                                        your {{=it.poolsConfigs[pool].coin.name}} miner wallet address
                                    {{ } }}
                                    <div class="coinInfoList">anything(it doesn't matter what)</div>
                                    <div class="coinInfoList">{{=it.portalConfig.website.stratumHost}}</div>
                                    {{ for (var port in it.poolsConfigs[pool].ports) { }}
                                        <div class="coinInfoList">{{=port}}</div>
                                    {{ } }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{ } }}
        </div>

            <div>
                {{ for (var pool in it.poolsConfigs) { }}
                    <div class="poolConfig">
                            <div class="coinInfoHeader">
                                    <span class="coinInfoName">{{=it.poolsConfigs[pool].coin.name}}</span> Configuration
                            </div>
    
                        <div class="configDetails" id="configDetails">
                            <table class="coinInfoRows">
                                <tr>
                                    <th>Min Payment</th>
                                    <td>{{=it.poolsConfigs[pool].coin.minPayment}}</td>
                                </tr>
                                <tr>
                                    <th>Payment Frequency (mins)</th>
                                    <td>{{=it.poolsConfigs[pool].coin.paymentFreq}}</td>
                                </tr>
                                <tr>
                                    <th>Fee (%)</th>
                                    <td>{{=it.poolsConfigs[pool].coin.poolFee}}</td>
                                </tr>
                                <tr>
                                    <th>Algorithm</th>
                                    <td>{{=it.poolsConfigs[pool].coin.algorithm}}</td>
                                </tr>
                                <tr>
                                    <th>Username:</th>
                                    <td>
                                        {{ if (it.poolsConfigs[pool].coin && it.poolsConfigs[pool].coin.privateChain) { }}
                                            your {{=it.poolsConfigs[pool].coin.name}} wallet <b style="color:#C99631;">zS</b> address<br>
                                        {{ } else if (it.poolsConfigs[pool].coin) { }}
                                            your {{=it.poolsConfigs[pool].coin.name}} miner wallet address
                                        {{ } else { }}
                                            your {{=it.poolsConfigs[pool].coin.name}} miner wallet address
                                        {{ } }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Password:</th>
                                    <td>ANYTHING</td>
                                </tr>
                                <tr>
                                    <th>Server/Stratum:</th>
                                    <td>{{=it.portalConfig.website.stratumHost}}</td>
                                </tr>
                                {{ for (var port in it.poolsConfigs[pool].ports) { }}
                                    <tr>
                                        <th>{{= it.poolsConfigs[pool].ports[port].label ? it.poolsConfigs[pool].ports[port].label : 'URL'}} Port</th>
                                        <td>{{=port}}</td>
                                    </tr>
                                {{ } }}
                            </table>
                        </div>
                    </div>
                {{ } }}
            </div>


    </div>
</div>